<div>
  <div ng-style="config.mode?styleWidth100:styleWidth50">
    <div class="input-group date">
      <input
        class="form-control"
        type="text"
        name="startDate"
        ng-attr-id="{{ config.isDisabled ? '' : dateId }}"
        ng-model="dateStr"
        ng-disabled="config.isSameDay || config.isDisabled"
        readonly
      />
      <i
        class="input-group-addon btn default fa fa-calendar"
        ng-attr-id="{{
          config.isSameDay || config.isDisabled ? '' : dateId + '-event'
        }}"
        ng-disabled="config.isSameDay || config.isDisabled"
      ></i>
    </div>
  </div>
  <div
    ng-style="config.mode?styleWidth100:styleWidth50"
    ng-if="config.mode!=='date'"
  >
    <div class="input-group date">
      <input
        class="form-control"
        type="text"
        name="startDate"
        ng-attr-id="{{ config.isDisabled ? '' : timeId }}"
        ng-model="timeStr"
        ng-disabled="config.isDisabled"
        readonly
      />
      <i
        class="input-group-addon btn default fa fa-clock"
        ng-attr-id="{{ config.isDisabled ? '' : timeId + '-event' }}"
        ng-disabled="config.isDisabled"
      ></i>
    </div>
  </div>
</div>
